APP_NAME="Sistema Auth"
APP_ENV=production
APP_KEY=base64:Z6nDHyaNVEPbDE8N4Ju4tMSj+5Mny7ftBQ+WjwdBsWk=
APP_DEBUG=false
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

# ==== BANCO DE DADOS (Railway MySQL) ====
DB_CONNECTION=mysql
DB_HOST=kodama.proxy.rlwy.net
DB_PORT=22385
DB_DATABASE=railway
DB_USERNAME=root
DB_PASSWORD=SUA_SENHA

SESSION_DRIVER=file
CACHE_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync
